/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*custom styles*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
} 
/*header*/
.header {
   background-color: blue;
   height: 72px;
   line-height: 72px;
   padding: 24px;
   position: fixed;
   width: 100%;
}
.logo img {
    width: 150px;
    height: 70px;
    vertical-align: middle;
    float: left;

}
nav {
float: right;
}
.nav a {
    font-size: 24px;
    color: cornsilk;
    margin-right: 16px;
    text-transform: uppercase;
    text-decoration: none;
}
/*clearfix*/
.clearfix::before, .clearfix::after {
    content: "";
    display: table;
}
.clearfix::after {
    clear: both;
}
/*article*/
.article {
    background-color:aliceblue;
    padding: 230px 0;
}
.article-heading {
    font-size: 32px;
    padding-bottom: 24px;
}
.article-text {
    font-size: 16px;
    line-height: 1.7;
}
.col {
width: 50%;
float: left;
}
.blog-image {
    width: 100%;
    border: 2px solid aqua;
    border-radius: 8px;
} 
/*gallery*/
.gallery {
    padding: 80px;
}
.gallery-img {
width: 100%;
}
.col-1-3 {
    width: 30%;
    margin: 1.5%;
    float: left;
}
/*footer*/

.footer {
    background-color: blue;
    text-align: center;
    padding: 32px 0;
  
}
.footer a {
    font-size: 24px;
    color: ivory;
    margin: 0 16px;
}
.top {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: aqua;
    position: fixed;
    bottom: 70px;
    right: 5px;
    text-align: center;
    font-size: 32px;
    line-height: 56px;
}
